.cache/
.claude/
.codeoss/
.config/
.docker/
.gemini/
.local/
.npm/
.vscode/
.rustup/
.ssh/
.bash_history
.bash_logout
.bashrc
.profile
.sudo_as_admin_successful
README-cloudshell.txt
node_modules/
.claude.json
.gitconfig
.inspect-canvas.json
.lesshst
lib/
